body{
    background: #2c2c2c;
    color: #fff;

}
aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    border-right: 5px solid #4d4d4d;
    height: 100vh;
}
aside ul {list-style: none; margin-top: 20px}

main{
    margin: auto;
}
a {text-decoration: none; color: #fff}

aside h3 {color: #3r3r3r}

main .features{
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

.features h1{
    margin-bottom: 50px;
}

.alert {
    width: 500px;
    margin: auto;
body{
    background: #2c2c2c;
    color: #fff;

}
aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    border-right: 5px solid #4d4d4d;
    height: 100vh;
}
aside ul {list-style: none; margin-top: 20px}

main{
    margin: auto;
}
a {text-decoration: none; color: #fff}

aside h3 {color: #3r3r3r}

main .features{
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

.features h1{
    margin-bottom: 50px;
}

.alert {
    width: 500px;
    margin: auto;
